server:
  port: 8085

spring:
  application:
    name: follow-service
  datasource:
    url: jdbc:h2:mem:followdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.socialmedia.follow: DEBUG
